@model DataSense_UI.Models.ViewModels.AuthenticateViewModel

@{
    ViewBag.Title = "Forgot Password";
}
@section documentHeadAdditions {
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
}
@using (Html.BeginForm("ForgotPassword", "Authenticate", FormMethod.Post, new { @class = "container-fluid h-100 first_screen", role = "form" }))
{
    <div class="ccccontainer-fluid h-100 first_screen">
        <div class="row h-100">
            <div class="col-lg-6 lt_container">
                <h1 class="main_logo"> <img src="~/images/logo.svg"> <span class="powerdby"> Datasense powered by Avexta </span> </h1>
                <div class="middle_main">
                    <div class="middle_ware">
                        <span>
                            Middle Ware <br>
                            for Enterprise
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 rt_container  align-self-center">

                <div class="w-75 mx-auto login_form">
                    <div class="form-group">
                        <div class="form_h4 error">
                            @if (Model != null)
                            {
                                if (Model.ErrorMessage != null)
                                {
                                    @Model.ErrorMessage
                                }
                            }
                        </div>
                        <h4 class="form_h4"> Please enter the email address of your account and DataSense will send you a link for instructions to reset your password</h4>
                        <!--<input type="email" class="form-control" id="email" placeholder="username">-->
                        @Html.TextBoxFor(m => m.emailAddress, new { type = "email", @class = "form-control", maxlength = "100", required = "required", autocomplete = "username", autocapitalize = "none" })
                        @Html.ValidationMessageFor(m => m.emailAddress)
                    </div>
                    <div class="form-check">
                        <a href="/Authenticate/Index" title="Login" class="forgt_p">Login</a>
                    </div>
                    <button type="submit" class="btn login_btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
}